{
  "rules": {
    "react/display-name": "off",
    "jsx-a11y/no-autofocus": 0,
    "prefer-regex-literals": "off",
    "default-param-last": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/no-invalid-html-attribute": "off",
    "react/function-component-definition": "off",
    "import/no-unresolved": "off",
    "react/no-unstable-nested-components": [
      "off",
      {
        "allowAsProps": true
      }
    ],
    "ignoreImports": 0,
    "no-console": 1,
    "react-hooks/rules-of-hooks": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": 0,
    "operator-linebreak": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "global-require": 0,
    "requireConfigFile": 0,
    "no-debugger": "error",
    // Legacy
    "max-len": [
      2,
      7200,
      4,
      {
        "ignoreComments": true
      }
    ],
    "max-params": [
      2,
      6
    ],
    "no-bitwise": 2,
    // React
    "react/jsx-indent": [
      2,
      2
    ],
    "react/no-did-update-set-state": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-no-bind": [
      1,
      {
        "allowArrowFunctions": true,
        "allowBind": true
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "no-shadow": 1,
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "react/no-danger": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [
          "label"
        ],
        "labelAttributes": [
          "htmlFor"
        ],
        "controlComponents": [
          "input"
        ]
      }
    ],
    "import/no-cycle": [
      2,
      {
        "maxDepth": 1
      }
    ],
    "jsx-a11y/anchor-has-content": 1,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-underscore-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-prop-types": 2,
    "react-redux/no-unused-prop-types": 2,
    "react-redux/connect-prefer-named-arguments": 2,
    "react-redux/prefer-separate-component-file": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "ts", "tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react",
    "react-redux",
    "jsx-a11y",
    "react-hooks"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "eslint:recommended",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true,
      "sourceType": "module",
      "ecmaVersion": 2020
    }
  },
  "settings": {
    "react": {
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": ["node_modules", "src/"],
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "env": { "browser": true, "es6": true, "node": true },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
      ],
      "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "ts", "tsx"] }],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ]
      },
      "settings": {
        "import/resolver": {
          "node": {
            "extensions": [
              ".js",
              ".jsx",
              ".ts",
              ".tsx"
            ]
          }
        }
      }
    }
  ]
}
