#displayWord {
  text-align: center;
  span {
    font-size: 20px;
    margin: 2.5px;
    &.wrongWord {
      color: $secondaryBrand;
    }
  }
}

.endGameResult {
  position: relative;
  background: #F0F0F0;
  padding: 5px 5px 65px 5px;
  text-align: center;
  margin-top: 25px;
  button {
    border: none;
    background: $primaryBrand;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #FFF;
  }
}